@tailwind base;
@tailwind components;
@tailwind utilities;

ol {
  list-style: decimal;
  margin-left: 16px;
}

ul {
  list-style: circle;
  margin-left: 16px;
}

.minimized .notes-sidebar {
  display: none;
}

.note-content a {
  color: blue;
}

.note-content h1,
h2 {
  font-weight: bold;
}

.note-content h1 {
  font-size: 2rem;
}

.note-content h2 {
  font-size: 1.8rem;
}

.note-content h3 {
  font-size: 1.6rem;
}

.note-content h4 {
  font-size: 1.4rem;
}

.note-content h5 {
  font-size: 1.2rem;
}

.note-content h6 {
  font-size: 1rem;
}
